@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap');

body {
    padding: 1rem;
    margin: 2rem;
    background-color: #E7E2D3;
    font-family: "Aleo", "Times New Roman";
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

form input {
    border-radius: 4px;
    padding: 0.25rem;

}

form>*:user-valid {

    border: 2px solid green;
}

form>*:user-invalid {

    border: 2px solid red;
}

form>*:user-valid+span::after {
    content: " ✓";

}

form>*:user-invalid+span::after {
    content: " ✖";

}

dialog {
    padding: 2rem;

}

dialog>div.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container>form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
}

.submit {
    grid-column: 2/3;
    display: flex;
    justify-content: end;
}

.book-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 1rem 0rem;
    gap: 2rem;
}

.card {
    font-family: "JetBrains Mono", "monospace";
    --border-col: black;

    padding: 1.25rem;
    border-radius: 12px;
    background-color: whitesmoke;

    transform: translate(0, 0);


    border: 1px solid var(--border-col);
    border-left: 12px solid var(--border-col);
    transition: border 0.2s ease-in, transform 0.4s ease-in-out;

}

.book-author {
    font-style: italic;
    font-weight: 200;

}

.card:hover {
    --shadow-blur: 20px;
    --shadow-spread: 2px;
    box-shadow: 5px 5px var(--shadow-blur) var(--shadow-spread)rgb(115, 128, 141);

    transform: translate(0px, -4px);



}

.card-actions {
    display: flex;
    justify-content: space-between;

}

.book-delete {

    border: 2px solid var(--border-col);
    transition: border 0.2s ease-in;

}

button {
    border-radius: 4px;
    padding: 4px 1rem;
    font-family: "Aleo";
    font-weight: 800;
}

button:hover {
    background-color: lightgray;


}

#new-book {
    border: 1px solid black;
}

.read-actions {
    display: flex;
}